@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}
body {
  background-color: #141414 !important;
  font-family: "Roboto Mono", monospace !important;
}
header {
  background-image: url("./Assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-position: center;
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1414143e;
  backdrop-filter: blur(3px);
}
.txt {
  letter-spacing: 0px;
  font: 16px "monospace", sans-serif;
  color: #fff;
  background:#141414;
}
.txt::after {
  content: "\2026 ";
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2.3s infinite;
  animation: ellipsis steps(4, end) 2.3s infinite !important;
  width: 0px;
}
@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 56px;
  }
}
.anime {
  animation: fadeIn 0.3s;
}
@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.98); }
  100% { opacity: 1;transform: scale(1); }
}
